/**
 * Project:        Masterthesis of Sascha Feldmann
 * Creation date:  24.05.2016
 * Author:         Sascha Feldmann (sascha.feldmann@gmx.de)
 * <br /><br />
 * University:
 * Hochschule für Technik und Wirtschaft, Berlin
 * Fachbereich 4
 * Studiengang Internationale Medieninformatik (Master)
 * <br /><br />
 * Company:
 * adesso AG
 * <br /><br />
 * This theme written in SASS includes the default VAADIN theme called 'Valo' and overwrites some style settings.
 */

// margins and borders
$boxMargins: 1em;
$boxPaddings: 1em;
$boxBordersWidth: 0.1em;
$boxBordersStyle: solid;
$rightButtonMargin: 3em;
$courseContentsAccordionRightCellMargin: 5em;
$accordionMarginTop: 1em;


// font sizes
$infoBoxIconFontSize: 2em;

// colors
$activeMenuItemColor: rgba(186, 0, 186, 0.1);

// widths
$courseContentsAccordionInputWidth: 35em;
$editDialogWindowWidth: 60em;
$editDialogWindowHeight: 50em;
$editDialogTextareaWidth: 55em;
$editDialogTextareaHeight: 45em;

$courseContentsProgressBarWidth: 37em;