/**
 * Project:        Masterthesis of Sascha Feldmann
 * Creation date:  05.07.2016
 * Author:         Sascha Feldmann (sascha.feldmann@gmx.de)
 * <br /><br />
 * University:
 * Hochschule für Technik und Wirtschaft, Berlin
 * Fachbereich 4
 * Studiengang Internationale Medieninformatik (Master)
 * <br /><br />
 * Company:
 * adesso AG
 * <br /><br />
 * Styles for the question generation step.
 */


// Define the theme as mixin so that it can be included in other files
@mixin generation {
  .question-generation-edit-question-window {
    max-width: $editDialogWindowWidth;

    .v-formlayout {
      margin-left: $questionGenerationEditWindowMarginleft;
    }

    .edit-button {
      margin-right: $questionGenerationEditWindowEditButtonMarginRight;
    }
  }

  .question-generation-edit-question-window input, .question-generation-edit-question-window select {
    width: $questionGenerationEditWindowInputWidths;
  }

  .question-generation-horicontal-layout  {
    .v-select-select {
      width: $questionGenerationTextAreaWidths;
      margin-right: $questionGenerationTextAreaMarginRight;
    }
  }

  .question-generation-export-select {
    margin-left: $questionGenerationExportSelectMarginLeft;
    margin-top: $questionGenerationExportSelectMarginTop;
  }
}
